.cards {
  display: flex;
  justify-content: space-between;
  padding: 60px 0px;

  @media (max-width:1100px) {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;

  h2 {
    font-size: 48px;
    color: #211F54;
  }
}