.card {
  width: 45%;
  z-index: -1;
  img {
    width: 100%;
    border-radius: 5px;
  }

  @media (max-width:900px) {
    width: 48%;
  }

  @media (max-width:725px) {
    width: 80%;
  }
  @media (max-width:500px) {
    width: 100%;
  }
}

.info {
  padding: 25px;
  background: #FFFFFF;
  border: 1px solid #EFF0F6;
  box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.04);
  border-radius: 14px;
  transform: translateY(-50px);
  width: 85%;
  margin: 0 auto;
  h2 {
    color: #211F54;
    font-size: 22px;
  }

  p {
    color: #6E7191;
    font-size: 16px;
    padding: 10px 0px;
  }

  h4 {
    font-size: 14px;
    color: #211F54;
  }

  position: relative;

  @media(max-width:900px) {
    padding: 15px;

    h2 {
      font-size: 20px;
    }
  }

  @media (max-width:725px) {
   padding: 25px;
   h2{
     font-size: 24px;
   }
  }
  @media (max-width:450px) {
   padding: 15px;
   width: 90%;
   h2{
     font-size: 20px;
   }
   p{
    font-size: 14px;
   }
   h4{
    font-size: 12px;
   }
  }
}

.square {
  position: absolute;
  bottom: 20px;
  right: 25px;
  width: 30px;
  height: 30px;
  border-radius: 1px;
  background: #0075FF;

  @media(max-width:900px) {
    bottom: 15px;
    width: 20px;
    height: 20px;
  }
}